<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Enigmas</title>
    <style>
        .tip {
            display: none;
        }
    </style>
    <script>
        function toggleTip(enigmaId) {
            var tipElement = document.getElementById('tip_' + enigmaId);
            var buttonElement = document.getElementById('button_tip_' + enigmaId);
            
            if (tipElement.style.display === "none") {
                tipElement.style.display = "block";
                buttonElement.style.display = "Esconder Tip";
            } else {
                tipElement.style.display = "none"; 
                buttonElement.style.display = "Mostrar Tip";
            }
        }
    </script>
</head>
<body>
    <h1>Lista de Enigmas</h1>
    <ul>
        {% for enigma_obj in enigmas_com_tentativas %}
            <li>
                <strong>Título:</strong> {{ enigma_obj.enigma.title }}<br>
                <strong>Descrição:</strong> {{ enigma_obj.enigma.description }}<br>

                {% if enigma_obj.tentativa %}
                    <strong>Resolvido:</strong> {{  enigma_obj.tentativa.esta_correto|yesno:"Sim,Não" }}<br>
                    <strong>Número de Tentativas:</strong> {{ enigma_obj.tentativa.numero_tentativas}}<br>
                {% else %}
                    <strong>Resolvido:</strong> Não<br>
                    <strong>Número de Tentativas:</strong> Nenhuma tentativa<br>
                {% endif %}
            
                {% if enigma_obj.tentativa and enigma_obj.tentativa.esta_correto %}
                    <p><strong>Você já resolveu esse enigma!</strong></p>
                {% else %}
                <button id="button_Tip_{{ enigma_obj.enigma.id }}" onclick="toggleTip({{ enigma_obj.enigma.id }})">Mostrar Dica</button>
                    <div id="tip_{{ enigma_obj.enigma.id }}" class="tip">
                        <strong>Dica:</strong> {{ enigma_obj.enigma.tips|default:"Nenhuma dica" }}<br>
                    </div>

                    <form method="post" action="{% url 'enigmas' %}">
                        {% csrf_token %}
                        <input type="hidden" name="enigma_id" value="{{ enigma_obj.enigma.id }}">
                        <label for="answer_{{ enigma_obj.enigma.id }}">Sua Resposta:</label>
                        <input type="text" name="answer" id="answer_{{ enigma_obj.enigma.id }}" required>
                        <button type="submit">Enviar Resposta</button>
                    </form>
                        <p><strong>Resultado:</strong> {{ enigma_obj.tentativa.resultado }}</p>
                {% endif %}


            
            </li>
        {% empty %}
            <li>Nenhum enigma encontrado.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Voltar para a Home</a>

</body>
</html>